# See the sample-lcd.cfg file for definitions of common LCD displays.
[gcode_macro MOTORS_OFF]
gcode:
    M84

#fluidd macros
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
  G90 ;absolute positioning


[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}
  G90 ;absolute positioning


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

#End fluidd macros

#macros

[delayed_gcode _Startup]
# execute when the delay duration has elapsed.
initial_duration: 1.0    #   If set to 0 the delayed_gcode will not execute on startup Default is 0.
gcode:
  M117 Welcome!
  M117 BLV Cube V1.2 is Ready :)

[gcode_macro UNLOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=unload_state
  G91 ;relative positioning
  M117 Heating...
  M109 S{params.TEMP|default(215, true)} ; Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
  M117 Unloading filament...
  G0 E-5 F3600        ;extract filament to cold end area 
  G4 P3000            ;wait for three seconds
  G0 E5 F3600         ;push back the filament to smash any stringing 
  G0 E-15 F3600       ;Extract back fast in the cold zone 
  G0 E-80 F300       ;Continue extraction slowly, allow the filament time to cool solid before it reaches the gears
  M117 Filament unloaded!
  RESTORE_GCODE_STATE NAME=unload_state
  G90 ;absolute positioning

[gcode_macro LOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=load_state
  G91 ;relative positioning
  M117 Heating...
  M109 S{params.TEMP|default(215, true)} ; Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
  M117 Loading filament...
  G0 E100 F400 ; Load the filament into the hotend area.
  G4 P1000
  G0 E40 F100 ; Purge
  M400
  TURN_OFF_HEATERS
  M117 Filament loaded!
  RESTORE_GCODE_STATE NAME=load_state
  G90 ;absolute positioning

[gcode_macro PRIME_LINE]
gcode:
  G90 ;absolute positioning
  #M109 S200; wait for extruder to heat up
  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true) }; wait for extruder to heat up
  G1 Z5 F3000 ; lift
  G1 X5 Y10 F12000 ; move to prime
  G1 Z0.3 F3000 ; get ready to prime
  G92 E0 ; reset extrusion distance
  G1 Y80 E16 F1200 ; prime nozzle
  G1 Y100 F15000 ; quick wipe
  G1 Z3.0 F3000 ; move z up little to prevent scratching of surface
  G90 ;absolute positioning

[gcode_macro Z_TILT]
gcode:
  Z_TILT_ADJUST

[gcode_macro START_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=start_print_state
  ;Put printing message on LCD screen
  M117 Heating...
  M140 S{params.BED_TEMP|default(printer.heater_bed.target, true)} ; set bed temp

  G28 X Y Z; Home X Y Z
  #G1 Y10 F3000; this is a good start heating position
  M190 S{params.BED_TEMP|default(printer.heater_bed.target, true)} ; wait for bed temp
  G28 Z ; Home Z
  M104 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true)} ; set extruder temp

  ; Auto Leveling
  Z_TILT_ADJUST ;Adjust bed tilt
  ;BED_MESH_CALIBRATE

  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true)} ; wait for extruder temp

  M117 Priming
  ; Start of print
  G21; metric values
  G90 ; absolute positioning
  M82; set extruder to absolute mode

  G1 Z5; Move nozzle above 5 mm of the bed

  ; now print a line of filament to prepare extrusion
  # G92 E0 ; reset extruder
  # G1 X5 Y15 F5000.0 ; move to start-line position
  # G1 X5 Y15 Z0.3 F5000.0
  # G1 Y20 F1000 E0.8
  # G92 E0 ; reset extruder
  # G1 X5 Y200.0 Z0.3 F1500.0 E15 ; draw 1st line
  # G1 X5.4 Y200.0 Z0.3 F5000.0 ; move to side a little
  # G1 X5.4 Y20 Z0.3 F1500.0 E30 ; draw 2nd line
  # G1 E34 ; Retract extruder
  # G92 E0 ; reset extruder
  # G1 Z3.0 F3000 ; move z up little to prevent scratching of surface
  # G1 X100 Y100 F15000
  PRIME_LINE

  ;Tuning params
  ;Put printing message on LCD screen
  M117 Printing...
  M83
  ; Start of actual GCode for the print
  # G21 ;metric values
  # G90 ;absolute positioning
  # M82 ;set extruder to absolute mode
  # G28 ;home
  # M117 Heating...
  # M190 S{params.BED_TEMP|default(printer.heater_bed.target, true) }; wait for bed to heat up
  # M109 S150 ; Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. Also allows the bed heat to spread a little.
  # Z_TILT_ADJUST ;Adjust bed tilt
  # G28 Z ;Home again as Z will have changed after tilt adjustment and bed heating.
  # BED_MESH_CALIBRATE ; Calibrate bed mesh  
  # G0 X10 Y310 Z10 F6000 ; Park in the back and wait for extruder
  # M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true) }; wait for extruder to heat up
  # M117 Printing...
  # RESTORE_GCODE_STATE NAME=start_print_state
  # G90 ;absolute positioning
  # PRIME_LINE ; prime line

# The end_print macro is also called from CANCEL_PRINT.
[gcode_macro END_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=end_print_state
  M104 S0 ;extruder heater off
  M140 S0 ;heated bed heater off
  G91 ;relative positioning
  G1 Z10 E-2 F3600  ;retract the filament a bit before lifting the nozzle.
  G1 E-2 F3600 ;retract filament even more
  G90 ;absolute positioning
  G0 X10 Y310 ; Park in the back
  M84 ;steppers off
  M107 ; part cooling fan off
  M117 Done.
  RESTORE_GCODE_STATE NAME=end_print_state
